@tailwind base;
@tailwind components;
@tailwind utilities;

.ulanime{
    @apply text-center cursor-pointer
    transition-all duration-500 border-b-2 border-transparent
    hover:border-white
}
.hero
{
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
}
.navbg{
    @apply bg-brown bg-opacity-100 sticky top-0 py-4 items-center z-50;
}

