@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ulanime{
    @apply text-center cursor-pointer
    transition-all duration-500 border-b-2 border-transparent
    hover:border-white
}
.hero
{
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
}
.mrgn
{
  @apply lg:mx-24 xl:mx-24 md:mx-16 mx-4
}
.navbg{
    @apply bg-brown bg-opacity-100 sticky top-0 py-4 items-center z-50;
}

